.logIn{
    display: flex;
    align-items: center;
    justify-content: center;
    hight: 1,5em;
    background: wheat;

}

.ul_login{
    list-style-type: none;
    display: flex;
    border: 1px solid aquamarine;
}

.normalText{
    padding: 2em;
    background: chocolate;
    font-family: Arial;
}